img{
    display: block;
    max-width: 100%;
    height: auto;
}
ul, p, li{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.vissually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}
body{
    background: var(--main-bg-color);
    color: var(--main-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.section{
    @media screen and (max-width: 1199px){
        padding-top: 60px;
        padding-bottom: 60px;
    }
    @media screen and (min-width: 1199px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}