.buttons{
    font-family: inherit;
    background: var(--acsent-color);
    border: none;
    color: var(--white-color);
    cursor: pointer;
    letter-spacing: 0.06em;
    line-height: 1.87;
    font-size: 16px;
    font-weight: 700;
    transition: background-color 250ms var(--animation-preset), box-shadow 250ms var(--animation-preset);

    border-radius: 4px;
    padding: 10px 32px;
    &:hover,
    &:focus{
    background: #188CE8;
    }
    &--hero{
        letter-spacing: 0.06em;
        line-height: 1.87;
        &:hover,
        &:focus{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        }
    }
    &--filter{
        background: var(--buttons-bg);
        border: none;
        color: var(--main-color);
        letter-spacing: 0.03em;
        line-height: 1.62;
        font-weight: 500;
    
        padding: 6px 22px;
        transition: background-color 250ms var(--animation-preset), color 250ms var(--animation-preset), box-shadow 250ms var(--animation-preset);
    
        &:first-child{
            padding-right: 25px;
            padding-left: 25px;
        }
        &:hover,
        &:focus{
            background-color: var(--acsent-color);
            color: var(--white-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        }
    }
    &--foot-form{
        display: flex;
        align-items: center;
        padding: 10px 28px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        @media screen and(max-width: 1199px) {
            margin-left: auto;
            margin-right: auto;
        }
    }
    &--modal{
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        padding-left: 52px;
        padding-right: 52px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    &--mobile-menu{
        @media screen and (max-width: 767px) {
            display: block;
            background: none;
            border: none;
            padding: 0;
            margin: 0;

        }
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
    &--header-menu{
        @media screen and (max-width: 767px) {
            display: block;
            background: none;
            border: none;
            padding: 0;
            margin: 0;

        }
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}


