.features{
    &__list{
        display: flex;
        justify-content: center;
        gap: 30px;
    }
    &__items{
        width: 270px;
    }
    &__icon-box{
        width: 270px;
        height: 120px;
    
        margin-bottom: 30px;
        background-color: var(--buttons-bg);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
    }
    &__title{
        text-transform: uppercase;
        font-size: inherit;
        line-height: 1.14;
        letter-spacing: 0.03em;
    
        margin-top: 0;
        margin-bottom: 10px;
    }
    &__text{
        color: var(--second-color);
        margin-top: 0;
        margin-bottom: 0;
    }
}
