.footer{
    background: var(--bg-dark-color);
    padding-top: 60px;
    padding-bottom: 60px;

    & .foot-link:hover,
    & .foot-link:focus{
        color: var(--acsent-color)
    }
    & .container{
        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }
    &-first-box{
        @media screen and(max-width: 767px) {
            margin-bottom: 60px;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 70px;
        }
    }
    &-second-box{
        @media screen and(max-width: 767px) {
            margin-bottom: 60px;
        }
        @media screen and (min-width: 1200px) {
            margin-right: 93px;
        }
    }
    &-tablet-wrap{
        @media screen and (min-width: 768px) and(max-width: 1199px) {
            display: flex;
            justify-content: space-around;
            margin-bottom: 60px;
            width: 100%;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }
    &-text{
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--white-color);

        margin-top: 12px;
        margin-bottom: 20px;
    }
    & .foot-form{
        align-items: center;
        @media screen and (min-width: 1200px) {
            display: flex;
        }
    }
    & .form-btn{
        display: flex;
        align-items: center;
        padding: 10px 28px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    & .form-input[type="email"]{
        display: flex;
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 15px;
        padding-bottom: 15px;

        font-weight: 400;
        font-size: 16px;
        line-height: calc(20/16);
        letter-spacing: 0.03em;

        color: rgba(255, 255, 255, 0.6);
        border-color: var(--bg-dark-color);
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        outline: none;
        background-color: transparent;
        @media screen and(max-width: 767px) {
            width: 100%;
            margin-bottom: 20px;
        }
        @media screen and (min-width: 767px) and (max-width: 1199px) {
            width: 450px;
            margin-bottom: 20px;
            margin-left: auto;
            margin-right: auto;
        }
        @media screen and (min-width: 1200px) {
            width: 360px;
            margin-right: 12px;
        }
    }
    .foot-form input::placeholder{
        font-weight: 400;
        font-size: 16px;
        line-height: calc(20/16);
        letter-spacing: 0.03em;
    
        color: rgba(255, 255, 255, 0.6);
        
    }
    .form-btn-ico{
        fill: var(--white-color);
        margin-left: 10px;
    }
    @media screen and(max-width: 1199px) {
        text-align: center;
    }
}
.foot-adress{
    .adress-link{
        color: var(--white-color);
        font-style: normal;
    }
    .foot-link{
        font-style: normal;
        color: var(--footer-alfa-color);
    
        transition: color 250ms var(--animation-preset);
    }
    .list .list-items:not(:last-child){
        display: block;
        margin-top: 0;
        margin-bottom: 9px;
        @media screen and(max-width: 1199px) {
            margin-bottom: 8px;
        }
    }
}