.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 250ms var(--animation-preset), visibility 250ms var(--animation-preset);
    
    background-color: rgba(0, 0, 0, 0.2);
    &.is-hidden{
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
    &-form{
        position: absolute;
        min-height: 581px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
        padding: 40px;
    
        background: var(--white-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        opacity: 1;
        transition: opacity 250ms var(--animation-preset), transform 250ms var(--animation-preset);
        @media screen and (max-width: 1199px){
            width: 100%;
            max-width: 450px;
        }
        @media screen and (min-width: 1200px){
            width: 528px;
        }
    }
    &.is-hidden .modal-form{
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }
    &-title{
        margin: 0;
        margin-bottom: 12px;
    
        font-weight: 700;
        font-size: 20px;
        line-height: calc(23/20);
        text-align: center;
        letter-spacing: 0.03em;
    }
}
.close-btn{
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    top: 8px;
    right: 8px;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;
    background: var(--white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    .close-ico{
        transition: fill 250ms var(--animation-preset);
    }
    &:hover .close-ico,
    &:focus .close-ico{
        fill: var(--acsent-color);
    }
}
.label-title{
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: var(--second-color);

    margin-bottom: 4px;
}
.form-group{
    display: flex;
    align-items: center;
    position: relative;

    margin-bottom: 10px;
    &.feedback{
        margin-bottom: 20px;
    }
    .form-ico{
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        transition: fill 250ms var(--animation-preset);
    }
    input{
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 42px;
        padding-right: 12px;
    
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
        transition: border 250ms var(--animation-preset);
        &:hover,
        &:focus-within{
            border: 1px solid var(--acsent-color);
        }
        &:hover + .form-ico,
        &:focus-within + .form-ico{
            fill: var(--acsent-color);
        }
    }
}
.form-feedback{
    width: 100%;
    min-height: 120px;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    resize: none;
    transition: border 250ms var(--animation-preset);
    &:hover,
    &:focus-within{
        border: 1px solid var(--acsent-color);
    }
    &::placeholder{
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14/12);
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }
}
.check-group{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    cursor: pointer;
    .check-text{
        font-size: 14px;
        line-height: calc(24/14);
        letter-spacing: 0.03em;
        text-align: center;
    
        color: var(--second-color);
        margin-left: 23px;
        @media screen and (max-width: 1199px){
            font-size: 12px;
            line-height: calc(14/12);
        }
    }
    .check-link{
        text-decoration: underline;
        color: var(--acsent-color);
    }
    .check-ico-group{
        position: absolute;
        display: flex;
        align-items: center;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        @media screen and (max-width: 1199px){
            left: 0;
        }
        .check-ico{
            border: 2px solid var(--main-color);
            border-radius: 2px;
            transition: background-color 250ms var(--animation-preset), opacity 250ms var(--animation-preset);
        }
    }
}
.def-check:not(:checked) ~ .check-ico-group use{
    opacity: 0;
}
.def-check:checked ~ .check-ico-group .check-ico{
    border: none;
    background-color: var(--acsent-color);
}
.buttons--modal{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding-left: 52px;
    padding-right: 52px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}