.filter-group{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
    @media screen and(max-width: 767px) {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 0;
    @media screen and (min-width: 768px) and (max-width: 1199px){
        justify-content: flex-start;
    }

}
.cards-list{
    @media screen and (max-width: 767px) {
        max-width: 450px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        max-width: 354px;
        .card-bbox--tablet {
            height: 146px;
        }
    }
    @media screen and (min-width: 1200px) {
        max-width: 370px;
    }
    transition: box-shadow 250ms var(--animation-preset);
    &:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
        .img-overlay{
            transform: translateY(0);
        }
    }
    .img-thumb{
        position: relative;
    
        overflow: hidden;
    }
    .img-overlay{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        transform: translateY(101%);
        transition: transform 250ms var(--animation-preset);
    
        background-color: rgba(33, 150, 243, 0.9);
        .overlay-text{
            font-size: 18px;
            line-height: 1.55;
            letter-spacing: 0.03em;
        
            color: var(--white-color);
        
            padding: 63px 24px;
        }
    }
}
.card-bbox{
    border: 1px solid #EEEEEE;
    border-top: none;
    padding: 20px 24px;
    & > h3{
        margin: 0;
        margin-bottom: 4px;
    }
    .card-title{
        color: var(--main-color);
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    .card-text{
        color: var(--second-color);
        font-size: 16px;
        letter-spacing: 0.03em;
        line-height: 1.87;
    }
}
